{% extends "layout.html" %} 
{% block title %}new question{% endblock %} 
{% block content %}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h5 class="text-center">New question</h5>
			</div>
			<div class="card-body">
				<div class="row clearfix" >
					<div class="col-8 m-auto">
						<form class="form-group" action="{{url_for('addquestion')}}" method="post" id="questionform">
							<div class="form-group">
								<div class="row">
									<div class="col-2">
										<label for="">Question:</label>
									</div>
									<div class="col-10">
									<input class="form-control" type="text" name="question" placeholder="Please input the question " required>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-2">
										<label for="">Option1:</label>
									</div>
									<div class="col-10">
									<input class="form-control" type="text" name="option1" placeholder="Please input the option1 " required>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-2">
										<label for="">Option2:</label>
									</div>
									<div class="col-10">
									<input class="form-control" type="text" name="option2" placeholder="Please input the option2 " required>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-2">
										<label for="">Option3:</label>
									</div>
									<div class="col-10">
									<input class="form-control" type="text" name="option3" placeholder="Please input the option3 " required>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-2">
										<label for="">Option4:</label>
									</div>
									<div class="col-10">
									<input class="form-control" type="text" name="option4" placeholder="Please input the option4 " required>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-2">
										<label for="">Correct Answer:</label>
									</div>
									<div class="col-10">
									<!-- <input class="form-control" type="text" name="answer" placeholder="Please input the answer " required> -->
										<div class="form-group">
											<select class="form-control" name="answer" id="" required>
												<option value=""> Please choose the corrent option</option>
												<option value="A"> Option1 </option>
												<option value="B"> Option2 </option>
												<option value="C"> Option3 </option>
												<option value="D"> Option4 </option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-2">
										<label for="">Explain:</label>
									</div>
									<div class="col-10">
									<textarea class="form-control" name="explain" id="" cols="100%" rows="5" placeholder="Please input the explanation"></textarea>
									</div>
								</div>
							</div>
							<div class="text-center">
								<button class="btn btn-primary col-3" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
    